body{
  background-color: #E6F7FF;
}

.chat{
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 40%;
  grid-gap: 18px;
}

#Avsender{
  background-color: lightgrey;
  border-radius: 7px;
  padding: 2px;
}

#Resultat{
  background-color: #FFD500;
  border-radius: 7px;
  padding: 2px;
}

input{
  border: solid #FFD500 2px;
  border-radius: 3px;
}

button{
  border: solid #FFD500 2px;
  border-radius: 3px;
  background-color: lightgrey;
}
